@model Product

<div class="col-sm-12 col-md-4 my-3">
    <div class="card h-100 d-flex flex-column">
        <img src="@Model?.ImageUrl" class="card-img-top h-100 d-flex flex-column" alt="...">
        <div class="card-body flex-fill">
            <h5 class="card-title">@Model.productName</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a class="btn btn-primary mt-auto" href="/product/get/@Model.productId">Get details</a>
        </div>
    </div>
</div>
