@model List<Product>
<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("CategoriesMenu")
    </div>
    <div class="col-md-9">
        @foreach(Product prd in Model)
{
    
        @await Html.PartialAsync("_ProductCard.cshtml",prd)
    
}
    </div>
</div>

    