<nav class="navbar bg-primary border-bottom navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Store App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between" id="navbarNavAltMarkup">
      <ul class="navbar-nav flex-grow-1">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/Home/Index">Home</a></li>
        <li class="nav-item"><a class="nav-link" asp-controller="Product" asp-action="Index">Products
            (@await Component.InvokeAsync("ProductSummary"))</a></li>
        <li class="nav-item"><a class="nav-link" asp-controller="Category" asp-action="Index">Categories</a></li>
        <li class="nav-item"><a class="nav-link" asp-page="/Contact">Contact</a></li>



      </ul>
      <ul class="navbar-nav">
        <a class="nav-link" aria-current="page" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Admin</a>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </ul>


    </div>

  </div>
</nav>