@model ProductDtoForUpdate

<div class="text-center">
    <div class="display-6">Update</div>
</div>
<form method="post" asp-action="Update" enctype="multipart/form-data">
    <div class="text-danger" asp-validation-summary="All"></div>
    
    <input type="hidden" asp-for="productId"/>
    <div class="form-group my-3">
        <label asp-for="CategoryId" class="my-3">Category Area:</label>
        <select class="form-control" asp-items="@ViewBag.Categories" asp-for="CategoryId">
            
        </select>
    </div>
    <div class="form-group">
        <label class="my-2" asp-for="productName">Product Name:</label>
        <input asp-for="productName" class="form-control" />
    </div>
    <div class="form-group">
        <label class="my-2" asp-for="Summary">Summary:</label>
        <input asp-for="Summary" class="form-control" />
    </div>
    <div class="form-group my-3">
        <label class="my-2" asp-for="price">Price:</label>
        <input asp-for="price" class="form-control" />
    </div>
    <div class="form-group my-3">
        <img class="rounded shadow" width="150" src="@Model?.ImageUrl"/>
    </div>
     <div class="form-group my-3">
        <label class="my-2" asp-for="ImageUrl">Image Url:</label>
        <input name="file" type="file" class="form-control" />
    </div>
    <div class="form-group my-3 text-center">
        <div class="btn-group">
            <button class="btn btn-warning " type="submit">
                <i class="fa-solid fa-pen-to-square"></i>
                Update</button>
            <a asp-action="Index" class="btn btn-outline-warning">
                <i class="fa fa-list"></i>
                Products</a>
        </div>
    </div>
</form>