@page "/getintouch"

<div class="text-center border my-5 rounded">
    <div class="display-4">Contact</div>

    <div class="lead">

        <i class="fa fa-phone text-info my-3"></i>
        <p>+90 563 21 36</p>
        <i class="fa-solid fa-location-dot text-info my-3"></i>
        <p>Bilişim İnovasyon Merkezi ODTÜ</p>
        <i class="fa-regular fa-envelope text-info my-3"></i>
        <p>beyzanurturan48@gmail.com</p>

    </div>
</div>